<h1> You're on the crossword question in level {{ question.level }}.<br>
Question: {{ question.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- input form for uploading code -->
<form action="{% url 'code_and_crossword:crossword_check' question.level %}" method="post">
	{% csrf_token %}
    <input type="text" name="answer" id="submission {{ question.level }}" value="# Alphabets and digits only" />
     <!-- <label for="answer">Code goes here:</label> --><br/>
	<input type="submit" value="Run" />
</form>
