You're at the code-and-crossword index.

{% if code_questions %}
    <ul>
    <li>{{ code_count }} coding challenges are available</li>
    </ul>
{% endif %}

{% if crossword_questions %}
    <ul>
    <li>{{ crossword_count }} crossword puzzles are available</li>
    </ul>
{% endif %}

{% if not code_questions and not crossword_questions %}
    <p>No challenges are available.</p>
{% endif %}

Pick a timed challenge:
<form action="{% url 'code_and_crossword:code' 1 %}" method="post">
{% csrf_token %}
    <input type="radio" name="challenge_choice_1" id="30" value="first_radio" /><label for="challenge_choice_1">30 min</label><br />
    <input type="radio" name="challenge_choice_2" id="60" value="second_radio" /><label for="challenge_choice_2">60 min</label><br />
    <input type="radio" name="challenge_choice_3" id="90" value="third_radio" /><label for="challenge_choice_3">90 min</label><br />
<input type="submit" value="Enter Challenge" />
</form>
