<head>
<!-- Start Styles. Move the 'style' tags and everything between them to between the 'head' tags -->
<style type="text/css">
.myTable { width:480px;background-color:#eee;border-collapse:collapse; }
.myTable th { background-color:#000;color:white;width:50%; }
.myTable td { min-width: 90px;}
.myTable td, .myTable th { padding:5px;border:1px solid #000; }
</style>
<!-- End Styles -->
</head>
<body>
<h1>Global game results: </h1>

<table class="myTable">
<tr>
<th>Handle</th><th>Code Score</th><th>Crossword Score</th><th>Total Score</th>
</tr>
<tr>
<td>nautilus</td><td>10</td><td>10</td><td>20</td>
</tr>
<tr>
<td>oyster_perpetual</td><td>30</td><td>20</td><td>50</td>
</tr>
<tr>
<td>seamaster</td><td>20</td><td>10</td><td>30</td>
</tr>
</table>
</body>